aiofiles>=24.1.0
aiosqlite>=0.21.0
git+https://github.com/openai/CLIP.git
diffusers==0.26.3
einops>=0.8.1
fastapi==0.108.0
ffmpeg-python>=0.2.0
fire>=0.7.1
greenlet>=3.2.4
httpx>=0.28.1
huggingface-hub>=0.20.3
jupyter>=1.1.1
loguru>=0.7.3
matplotlib>=3.8.2
mmcv-full>=1.7.2
notebook>=7.0.7
numpy<2.0.0
omegaconf>=2.3.0
opencv-python>=4.9.0.80
pandas>=2.2.0
pydantic>=2.6.0
python-multipart>=0.0.9
requests>=2.31.0
ruptures>=1.1.9
scikit-learn>=1.4.0
sqlalchemy>=2.0.25
streamlit>=1.31.0
tqdm>=4.66.1
transformers==4.38.2
ultralytics>=8.3.204
uuid>=1.30
uvicorn>=0.35.0
celery
redis
boto3
python-dotenv
runpod
